* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  scrollbar-width: thin;
}

/* Sidebar */
#sidebar {
  width: 280px;
  transition: margin-left 0.3s ease;
  position: fixed;
  top: 0;
  z-index: 10;
  height: 100vh;
  background-color: #f8f9fa;
}

.active {
  background-color: red;
  color: #fff;
  border-radius: 5px;
}

#content {
  margin-left: 280px;
  width: calc(100% - 280px);
  transition: margin-left 0.3s ease;
}

.sidebar-hidden {
  margin-left: -280px;
}

@media screen and (max-width: 768px) {
  #sidebar {
    margin-left: -280px;
    border-radius: 0;
    z-index: 10;
  }

  #sidebar.active {
    margin-left: 0;
  }

  #content {
    margin-left: 0;
    width: 100%;
  }

  .sidebar-backdrop {
    display: block;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9;
  }
}

.sidebar-toggle {
  font-size: 1.5rem;
  cursor: pointer;
  z-index: 1050;
}
/* end Sidebar */

.background-radial-gradient {
  background-color: hsl(244, 66%, 40%);
  background-image: radial-gradient(
      650px circle at 0% 0%,
      hsl(245, 70%, 42%) 15%,
      hsl(243, 60%, 38%) 35%,
      hsl(246, 65%, 45%) 70%,
      hsl(242, 68%, 36%) 80%,
      transparent 100%
    ),
    radial-gradient(
      1250px circle at 100% 100%,
      hsl(244, 67%, 43%) 15%,
      hsl(246, 63%, 41%) 35%,
      hsl(243, 64%, 38%) 70%,
      hsl(241, 65%, 35%) 80%,
      transparent 100%
    );
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 100vh;
}

.btn-primary {
  background-color: #2347ab !important;
}

.btn-primary:hover {
  background-color: #3659b1 !important;
}

.btn-outline-primary {
  color: #2347ab !important;
  border-color: #2347ab !important;
}

.btn-outline-primary:hover {
  background-color: #2347ab !important;
  color: #fff !important;
}

.container-fluid {
  height: 100vh;
}

@media screen and (max-width: 768px) {
  .container-fluid {
    height: 100%;
  }
}

.bg-glass {
  background-color: hsla(0, 0%, 100%, 0.6) !important;
  backdrop-filter: saturate(200%) blur(25px);
}
